html, body, .container {
	height: 100%;
}
body{background-color:rgb(204,204,204);}

.container {
	margin-top:100px;
	margin-left:29.2%;
}

.clock {
	position: relative;
	width: 400px;
	height: 400px;
	background: url(images/clock1.png);
}

.dot{
	position: absolute;
	background: #000;
	width: 30px;
	height: 30px;
	top: 50%;
	left: 50%;
	margin-top:-15px;
	margin-left:-15px;
	border-radius: 50%;
}

.hands {
	position: absolute;
	top: 0;
	left: 0;
}